.header {
  position: sticky;
  padding: 0.5rem;
  height: 3.5rem;
  background-color: #14192d;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__link {
  color: #d90062;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}
/* **************** Menu component **************** */
.menu {
  position: fixed;
  left: 0;
  top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #14192d;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.menu_isActive {
  opacity: 1;
  pointer-events: auto;
}
.menu__link {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #d90062;
}
.menu__link:hover {
  color: #fff;
  background-color: #d90062;
}
.menu__btn {
  outline: thin solid #d90062;
  border: 0;
  cursor: pointer;
  background-color: #14192d;
}
.menu__svg {
  fill: #d90062;
}
.menu__btn_hidden {
  display: none;
}
@media screen and (min-width: 1024px) {
  .menu__btn {
    display: none;
  }
  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }
  .menu__link {
    padding: 0 1rem;
  }
  .menu__link:hover {
    background-color: transparent;
  }
}
